<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>! </h1>
    <p>Click <%= link_to("here", edit_user_url(@user.id)) %> to reset your password.</p>
  </body>
</html>
